* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;  
    }
  
  @font-face{
    src: url(../font/d-din/D-DIN-Bold.otf);
    font-family: "DIN-Bold";
    font-weight: normal;
  }
  @font-face{
    src: url(../font/Helvetica-Font/Helvetica.ttf);
    font-family:"Helvetica-Regular";
    font-weight: normal;
  }
  
  .text-bold{
  font-family: DIN-Bold;
  }
  .parrafo{
  font-family: Helvetica-Regular;
  font-size: 20px;
  } 
  
  :root{
    --bg-footer: hsl(0, 0%, 0%);
    --color-blue: hsl(228, 50%, 41%);
    --bg-purple:hsl(283, 34%, 40%);
    --bg-white: hsl(0, 0%, 100%);
    --color-grey:hsl(0, 0%, 44%);
    --color-red:hsl(354, 70%, 54%);
  }