* {
  margin: 0;
  padding: 0;
  border: 0; 
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;  
  }

@font-face{
  src: url(../font/d-din/D-DIN-Bold.otf);
  font-family: "DIN-Bold";
  font-weight: normal;
  }
@font-face{
  src: url(../font/Helvetica-Font/Helvetica.ttf);
  font-family:"Helvetica-Regular";
  font-weight: normal;
  }

.text-bold{
  font-family: DIN-Bold;
  }
.parrafo{
  font-family: Helvetica-Regular;
  } 

:root{
  --bg-footer: hsl(0, 0%, 0%);
  --color-blue: hsl(228, 50%, 41%);
  --bg-purple:hsl(283, 34%, 40%);
  --bg-white: hsl(0, 0%, 100%);
  --color-grey:hsl(0, 0%, 44%);
  --color-red:hsl(354, 70%, 54%);
  --color-blue-light:hsl(202, 67%, 57%);
  }

body a:hover{
  text-decoration: none;
  }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  }

.clearfix:after {
  clear: both;
  }

.clearfix {
  background-color: var(--bg-footer);
  }
  
.clearfix  .logo{
  width: 5em;
  }
  
.clearfix .btn-menu {
  background: var(--bg-white);
  }

.icon-drop:before,
.icon-arrow-left:before {
  font-family: "fontawesome";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color:var(--color-blue-light);
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
  }

.icon-drop:before {
  content: "\e000";
  }

.icon-arrow-left:before {
  content: "\f060";
  }


.contenido__video{
  background: var(--color-blue);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; 
  }

.video{
  position: absolute;
  max-width: 300%;
  width: 100%;  
  }
  

.despega{	
  margin: 0%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: var(--bg-white);
  background-color: var(--color-red);
  border-color: transparent;
  border-radius: 30px;
  width: 15em;
  height: 3em;
  }

.despega:hover{	
  margin: 0%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: var(--bg-white);
  background-color: var(--color-blue);
  border-color: transparent;
  border-radius: 30px;
  width: 15em;
  height: 3em;
  }



@media (max-width: 900px) and (min-width: 650px) {
  .video{
    max-width: 300%;
    width: 300%;  
    }
    
  .video_responsive video {
    width: 400px ;
    height: 400px;
  }
}
@media(max-width: 650px) and (min-width: 480px){
  .video{
    max-width: 300%;
    width: 300%;  
    }
    
  .video_responsive video {
    width: 500px ;
    height: 500px;
  }
}




