* {
  margin: 0;
  padding: 0;
  border: 0; 
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;  
  }

@font-face{
  src: url(../Font/d-din/D-DIN-Bold.otf);
  font-family: "DIN-Bold";
  font-weight: normal;
}
@font-face{
  src: url(../Font/Helvetica-Font/Helvetica.ttf);
  font-family:"Helvetica-Regular";
  font-weight: normal;
}

.text-bold{
font-family: DIN-Bold;
}
.parrafo{
font-family: Helvetica-Regular;
font-size: 20px;
} 

:root{
  --bg-footer: hsl(0, 0%, 0%);
  --color-blue: hsl(228, 50%, 41%);
  --bg-purple:hsl(283, 34%, 40%);
  --bg-white: hsl(0, 0%, 100%);
  --color-grey:hsl(0, 0%, 44%);
  --color-red:hsl(354, 70%, 54%);
}

body {   
  background:url(../img/bg/bg_comic.png);
  background-repeat: no-repeat;
}
body a:hover{
  text-decoration: none;
}
.Header{
  background-color: var(--bg-footer);
 }
.Header header .logo{
  width: 5em;
}


/*Comic*/

.flipbook{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipbook button {
  border: none;
  background-color: transparent;
  margin: 5em;
  cursor: pointer;
  transition: transform 1s;
}

.flipbook button:focus {
  outline: none;
}

.flipbook button:hover i {
  color:var(--color-red);
}

.flipbook i {
  color:var(--color-red);
  font-size: 4em;
}

/* Book */
.book {
  width: 350px;
  height: 500px;
  position: relative;
  transition: transform 1s;
}

.pagina {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.pagina  .logo{
  width: 5em;
}
.pagina  .parrafo{
 font-size: 14px;
}
.pagina .team p{
 font-size: 12px;
 line-height : 2px;
}
.front {
  backface-visibility: hidden;
  border-left: 3px solid var(--color-blue);
}

.front, 
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform-origin: left;
  transition: transform 1s;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg)
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg)
}

/* Paper Z-index */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

/* Customization */

.book-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.cover-img {
  width: 200px;
  height: 270px;
  object-fit: cover;
  border-radius: 30px;
}

#b1 {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  justify-content: space-around;
}

#b1 h2 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

#b1 p {
  margin-bottom: 20px;
}


/*contact*/
.btn-contact {
  background: var(--color-red);
}

.iconContact{
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: var(--color-red);
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 10;  
}
.Contact_content{ 
  position: fixed;
  bottom: 5em;
  right: -50em;
  z-index: 20;
} 
.privacidad{
  color:var(--color-red);
}

/*footer*/
.footer{
  background-color: var(--bg-footer);
}