
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root{
  --bg-black: hsl(0, 0%, 0%);
  --bg-blue: hsl(228, 50%, 41%);
  --bg-white: hsl(0, 0%, 100%);
  --color-grey:hsl(0, 0%, 44%);
  --color-contact:hsl(354, 70%, 54%);
}

@font-face{/*titulos*/
  src: url(../Font/d-din/D-DIN-Bold.otf);
  font-family: "DIN-Bold";
  font-weight: normal;
}
@font-face{ /*subtitulo*/
  src: url(../Font/d-din/D-DIN-Italic.otf);
  font-family: "DIN-Italic";
  font-weight: normal;
}
@font-face{
  src: url(../Font/Helvetica-Font/Helvetica.ttf);
  font-family:"Helvetica-Regular";
  font-weight: normal;
}
  
.text-bold{
font-family: DIN-Bold;
}
.subtitle{
font-family: DIN-Italic;
}
.parrafo{
font-family: Helvetica-Regular;
}      
.home{
background-color: var(--bg-white);
}
.logo {
  width: 5em;
}
.btn_login{
  background: var(--color-contact);
  border: none;
}
.btn-enviar {
 background: var(--color-contact);
 color: var(--bg-white);
}
.btn-enviar:hover{
  color:var(--bg-white);
  background: var(--bg-blue);
}
header span a{
  color: var(--bg-blue);

}
header span a:hover{
  text-decoration: none;
  color: var(--color-grey);
}
.article-tittle{
 color:var(--bg-purple);
}
.flechas {
  color: var(--bg-purple);
}
.text{
  color:var(--bg-footer);
}   
body{
  background-image: url(../Img/backgroundhud.jpg);    
  background-size: 700px;
}
.footer{
    background: var(--bg-footer-two);
}
.icon-text{
    font-size: 20px;
}





