* {
  margin: 0;
  padding: 0;
  border: 0; 
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  }

@font-face{
  src: url(../Font/d-din/D-DIN-Bold.otf);
  font-family: "DIN-Bold";
  font-weight: normal;
}
@font-face{
  src: url(../Font/Helvetica-Font/Helvetica.ttf);
  font-family:"Helvetica-Regular";
  font-weight: normal;
}

.text-bold{
font-family: DIN-Bold;
}
.parrafo{
font-family: Helvetica-Regular;
} 

:root{
  --bg-footer: hsl(0, 0%, 0%);
  --bg-blue: hsl(228, 50%, 41%);
  --bg-purple:hsl(283, 34%, 40%);
  --bg-white: hsl(0, 0%, 100%);
  --color-grey:hsl(0, 0%, 44%);
  --color-red:hsl(354, 70%, 54%);
}

.Header{
  background-color: var(--bg-footer);
 }
.Header header .logo{
  width: 5em;
}

/*Seccion 1*/
body .banner .container{
   position: absolute;
   top: 15em;
   left: 10em;
 }
 body .banner img{
  border-bottom-right-radius: 10em;
  border-top-right-radius: 10em;
}
 body .banner .container h1{
   font-size: 4em;
 }
 body .banner .container a{
  font-size: 2em;
  margin-top: 5em;
  background: var(--color-red);
  border-radius: 1.5em;
}

/*seccion 2*/
body .about h1{
  color: var(--color-red);
  font-size: 5em;
}




.footer{
  background-color: var(--bg-footer);
}