* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;  
}

@font-face{
    src: url(../font/d-din/D-DIN-Bold.otf);
    font-family: "DIN-Bold";
    font-weight: normal;
}
@font-face{
    src: url(../font/Helvetica-Font/Helvetica.ttf);
    font-family:"Helvetica-Regular";
    font-weight: normal;
}

.text-bold{
    font-family: DIN-Bold;
}
.parrafo{
    font-family: Helvetica-Regular;
    font-size: 20px;
} 

:root{
    --bg-footer: hsl(0, 0%, 0%);
    --color-blue: hsl(228, 50%, 41%);
    --bg-purple:hsl(283, 34%, 40%);
    --bg-white: hsl(0, 0%, 100%);
    --color-grey:hsl(0, 0%, 44%);
    --color-red:hsl(354, 70%, 54%);
}

body {   
    background:url(../img/bg/bg_comic.png);
    background-repeat: no-repeat;
}
body a:hover{
    text-decoration: none;
}
.Header{
    background-color: var(--bg-footer);
}
.Header header .logo{
    width: 5em;
}

/*Audio*/
.audio_superior{
    background:#f1f3f4;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.audio_medio{
    background:#f1f3f4;
}
.audio_inferior{
 border-bottom-left-radius: 1em;
 border-bottom-right-radius: 1em;
 background:#f1f3f4 ;
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.02);
-moz-transform: scale(1.02);
transform: scale(1.02);
}


/*videos*/
video{   
    width: 100%;
     
}
.c-video{
    width: 100%;
    max-width: 300px;   
} 
.video_superior{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.video_inferior{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background:#f1f3f4 ;
}

/*imagenes*/
.img-portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.escene-img{
    width: 85%;
    object-fit: cover;
}
.cuadro_img {
    display: flex;
    justify-content: center;
}



/*contact*/
.btn-contact {
    background: var(--color-red);
}

.iconContact{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: var(--color-red);
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 10;  
}
.Contact_content{ 
    position: fixed;
    bottom: 5em;
    right: -50em;
    z-index: 20;
} 
.privacidad{
    color:var(--color-red);
}

/*footer*/
.footer{
    background-color: var(--bg-footer);
}