
:root{
    --bg-footer: hsl(0, 0%, 0%);
    --color-blue: hsl(228, 50%, 41%);
    --bg-purple:hsl(283, 34%, 40%);
    --bg-white: hsl(0, 0%, 100%);
    --color-grey:hsl(0, 0%, 44%);
    --color-red:hsl(354, 70%, 54%);
  
}

.video{   
    width: 100%;
    border-radius: 0.5em;  
}
.c-video{
    width: 100%;
    max-width: 300px;
    position: relative;
    overflow: hidden;
   } 

